* {
  box-sizing: border-box;
  user-select: none;
  font-size: 100%;
}

*:focus-visible {
  outline: none;
}

:root {
  --color-blue-1: #14BEFD;
  --color-blue-2: #0954C4;
  --color-blue-light-1: #E6F9FF;
  --color-blue-light-2: #7DB7FE;
  --color-green-1: #34FF12;
  --color-green-2: #199309;
  --color-green-light-1: #F0FFF4;
  --color-green-light-2: #CAFFCE;
  --color-pink-1: #E96CF6;
  --color-pink-2: #6D32B7;
  --color-pink-light-1: #F4EBFD;
  --color-pink-light-2: #D9B9F8;
  --color-red-1: #FC3412;
  --color-red-2: #A3220C;
  --color-red-light-1: #FFF9F7;
  --color-red-light-2: #FBB19D;
}

html {
  -ms-touch-action: manipulation;
  height: 100vh;
  min-height: 22.5em; // 360px
  min-width: 40em; // 640px
  overflow: hidden;
  touch-action: manipulation;
  width: 100vw;

  body {
    background-color: #000000;
    margin: 0;
    font-family: 'Germania One';
    font-size: clamp(1em, 4vh, 4em); // fallback without round()
    font-size: clamp(1em, calc(round(down, 4vh, 0.5em)), 4em); // 2em (< 600px), 3em (600px), 4em (800px)
    letter-spacing: calc(1em / 16);
    line-height: 1em;
    width: inherit;
    height: inherit;
    overflow: hidden;

    #app {
      height: inherit;
      width: inherit;

      canvas {
        image-rendering: pixelated;
      }
    }

    .os-scrollbar {
      --os-size: 1.25em;
      --os-padding-perpendicular: 0.125em;
      --os-padding-axis: 0.125em;
      --os-track-border-radius: 0;
      --os-track-bg: rgba(0, 0, 0, 0.25);
      --os-track-bg-hover: rgba(0, 0, 0, 0.25);
      --os-track-bg-active: rgba(0, 0, 0, 0.25);
      --os-track-border: none;
      --os-track-border-hover: none;
      --os-track-border-active: none;
      --os-handle-border-radius: 0;
      --os-handle-bg: #e08e41;
      --os-handle-bg-hover: #ffffff;
      --os-handle-bg-active: #ffffff;
      --os-handle-border: none;
      --os-handle-border-hover: none;
      --os-handle-border-active: none;
      --os-handle-min-size: 1em;
      --os-handle-max-size: none;
      --os-handle-perpendicular-size: 100%;
      --os-handle-perpendicular-size-hover: 100%;
      --os-handle-perpendicular-size-active: 100%;
      --os-handle-interactive-area-offset: 0;

      .os-scrollbar-track {
        box-shadow: inset rgba(#000, 0.25) 0 0.125em;
      }

      .os-scrollbar-handle {
        &:after,
        &:before {
          content: '';
          display: block;
          left: 50%;
          position: absolute;
          right: initial;
          top: calc(50% - 0.125em);
          transform: translate(-50%, -50%);
          background-color: rgba(#000, 0.25);
          height: 0.125em;
          width: 50%;
        }

        &:after {
          top: calc(50% + 0.125em);
        }
        
        box-shadow:
          inset rgba(#fff, 0.25) 0 0.125em,
          inset rgba(#000, 0.25) 0 -0.125em,
          #000 0 0.125em,
          #000 -0.125em 0,
          #000 0 -0.125em,
          #000 0.125em 0;
        cursor: pointer;
      }
    }
  }
}

/* Font Family */
@font-face {
  font-family: 'Germania One';
  src: url('/woff2/GermaniaOne-Regular.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}